/* 
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)
*/



:root{
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body{
    background-color: var(--color-light-gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card{
    background-color: var(--color-white);
    border-radius: 15px;
    width: auto;
    height: auto;
    padding: .7rem;
    box-shadow: 1px 2px 4px -3px rgba(0,0,0,0.75);
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 12rem;
    border-radius: 10px;
}

h3{
    width: 12rem;
    font-size: 1rem;
    text-align: center;
    color: var(--color-dark-blue);
}

p{
    width: 12rem;
    font-size: .8rem;
    color: var(--color-grayish-blue);
    text-align: center;
}


/* MEDIA QUERIES */

@media screen  and (max-width: 375px){

    .card{
        padding: 1rem;
    }

    img{
        width: 18rem;
    }

    h3{
        width: 18rem;
        font-size: 1.5rem;
    }

    p{
        width: 18rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
}